<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <% if (categories.length > 0) { %>
       <ul>
            <% categories.forEach(category => { %>
                <li><strong><%= category.category_name %></strong></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No categories available.</p>
    <% } %>
</main>


<%- include('partials/footer') %>